body{
    background-color: blanchedalmond;
}
#fejlec{
    font-weight: bold;
    text-align: center;
    color:gray;
    font-size: 25px;
}
.tartalom{
    width:300px;
    margin:auto;
    width:800px;
    background-color: #d3d3d3;
    opacity: 90%;    
    
}
.szoveg{
    font-size: 20px;

}
#bal{
    float: left;
}
.hasab{
    
}
.kep{
   float: right;
   width:200px;
   height:200px;
   margin-top: auto;
}