body{
    background-color: blanchedalmond;
}
#fejlec{
    font-weight: bold;
    text-align: center;
    color:gray;
    font-size: 20px;
}
.tartalom{
    width:300px;
    margin:auto;
    width:850px;
    background-color: darkgray;
    opacity: 90%;   
    
    
    
}
.szoveg{
    font-size: 25px;

}
.bekezdes{
    text-align: center;
    width:700px;
    margin: auto;
    padding: 20px;
}    
img{
    border-radius: 50%;
}
#lablec{
    margin: auto;
    text-align: center;
    
    
}
a:hover{
    font-weight: bold;
    color: red;
}
a{
    text-decoration: none;
    color: black;
}